<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Chuyển tiền</title>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon" />
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link rel="stylesheet" href="/stylesheets/style.css" />

  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- CDN Bootstrap5 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Template Main CSS File -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css"
    integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="sections-bg">
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <h1>Yes Sir<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li><a href="#clients">Đối tác</a></li>
          <li><a href="#team">Thành viên</a></li>
          <!-- Khi đăng nhập sẽ hiện nó lên -->
          <li><a href="/recharge">Nạp tiền</a></li>
          <li><a href="/tranfers">Chuyển tiền</a></li>
          <li><a href="/withdrawal">Rút tiền</a></li>
          <li><a href="/cards">Mua thẻ điện thoại</a></li>
          <!-- Đăng nhập mới hiện lên và ẩn đi chữ đăng nhập -->
          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="/images/img/profile-img.jpg" alt="Profile" class="rounded-circle" />
              <span class="d-none d-md-block ps-2">{{email}}</span>
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{fullname}}</h6>
                <span>Web Designer</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/users/profile">
                  <i class="bi bi-person"></i>
                  <span>Tài khoản</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center">
                  <i class="bi bi-gear"></i>
                  <span class="badge rounded-pill bg-{{confirm.status}}">{{confirm.msg}}</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-wallet"></i>
                  <span>{{balance}}</span><strong>VND</strong>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/users/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span id="toastbtn">Sign Out</span>
                </a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

  </header>
  <main>

    <section>
      <div class="mt-5">
        <div class="section-header">
          <h2>Chuyển tiền</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <div class="bg-white rounded-lg shadow-sm p-5">

                <!-- Credit card form content -->
                <div class="tab-content">
                  <!-- credit card info-->
                  <div id="nav-tab-card" class="tab-pane fade show active">
                    {{#if msg}}
                    <p class="alert alert-danger">{{msg}}</p>
                    {{/if}}
                    <form role="form" method="post" action="/users/transfer">

                      <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <div class="input-group">
                          <input type="number" name="phone" placeholder="Nhập số điện thoại" min="0"
                            class="form-control" id="phone-transfer" required />
                          <div class="input-group-append">
                            <span class="input-group-text text-muted" style="height: 100%;">
                              <i class="bi bi-phone-fill"></i>
                            </span>
                          </div>
                        </div>
                        <label class="fw-bold label-transfer"></label>
                      </div>
                      <div class="form-group">
                        <label for="username">Số tiền</label>
                        <div class="input-group">
                          <input type="number" name="money" placeholder="Số tiền" min="1"
                            class="form-control money-transfer" required />
                          <div class="input-group-append">
                            <span class="input-group-text text-muted">
                              VND
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="form">
                        <label for="username">Phí</label>
                        <div class="input-group">
                          <input class="form-control fee-transfer" type="text" value="Phí"
                            aria-label="Disabled input example" disabled readonly />
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="note" rows="3"></textarea>
                      </div>

                      <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="sideFee" id="flexRadioDefault1" value="send"
                          checked />
                        <label class="form-check-label" for="flexRadioDefault1">
                          Bên gửi chịu phí
                        </label>
                      </div>

                      <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="sideFee" id="flexRadioDefault2"
                          value="receive" />
                        <label class="form-check-label" for="flexRadioDefault2">
                          Bên nhận chịu phí
                        </label>
                      </div>

                      <button type="submit" class="btn btn-primary btn-block rounded-pill shadow-sm mt-2">
                        Confirm
                      </button>
                    </form>
                  </div>
                  <!-- End -->

                </div>
                <!-- End -->

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="/javascripts/main.js"></script>
</body>

</html>